<fieldset>
  <legend>STEP 1</legend>
  <div>
    <label [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
      <div>
        <span>Name:</span><input type="text" name="name" formGroup="name" />
      </div>

      <div>
        <span>Last Name:</span
        ><input type="text" name="lastName" formGroup="lastName" />
      </div>
      <div>
        <span>Email:<input type="email" name="email" formGroup="email" /></span>
      </div>
      <label for="birthdate">Fecha de nacimiento:</label>
      <div><input type="date" name="birtday" formGroup="birtday" /></div>
      <div><span>You age is:</span></div>
      <div><span>Gender:</span></div>
      <div>
        <input type="radio" name="gender" value="male" formGroup="male" />
        <label for="option1">Hombre</label>
        <input type="radio" name="gender" value="female" formGroup="female" />
        <label for="option1">Female</label>
        <input type="radio" name="gender" value="other" formGroup="other" />
        <label for="option1">Other</label>
        <input type="radio" name="gender" value="notell" formGroup="notell" />
        <label for="option1">I prefer no response</label>
      </div>
      <div><span>Do you want recive our newsletter?</span></div>
      <div>
        <input type="checkbox" name="hasNewsLetter" formGroup="notell" />
      </div>
    </label>
  </div>
  <input type="submit" value="Submit" />
</fieldset>
